*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

h1 {
  color: #4a90e2;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #555;
}

.form-section {
  margin: 20px 0;
}

.output-section p {
  margin: 15px 0;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

select,
input {
  width: 100%;
  padding: 10px; /* Slightly larger padding for comfort */
  font-size: 1em;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
}

select:focus,
input:focus {
  outline: none;
  border-color: #007bff; /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Soft shadow for focus effect */
}

::placeholder {
  color: #aaa; /* Light gray for placeholder */
}

.output-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f4f8; /* Light background for contrast */
  border: 1px solid #d1e3f1; /* Subtle border */
  border-radius: 8px;
}

.output-section p {
  font-size: 1.1em;
  margin: 10px 0; /* Add more spacing */
  padding: 10px;
  background-color: #fff; /* White background for each format */
  border-left: 5px solid #4a90e2; /* Accent border */
  border-radius: 5px;
  color: #333; /* Dark text for readability */
}

.output-section strong {
  color: #4a90e2; /* Match your theme color */
}

.output-section p:hover {
  background-color: #e8f0fe; /* Highlight on hover */
  transition: background-color 0.3s ease;
}

.tab-container {
  margin-top: 20px;
  /* Remove border and background color from tab container */
}

.tab-buttons {
  display: flex;
  border-bottom: 1px solid #ddd;
  /* No background color or border */
}

.tab-buttons button {
  background: none;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s, font-weight 0.3s;
}

.tab-buttons button.active {
  color: #007bff; /* Active tab color */
  font-weight: bold;
}

.tab-buttons button:hover {
  color: #007bff; /* Hover color */
}

code-snippet {
  display: block;
}

.back-button {
  margin-top: 50px;
  padding: 15px 0px 15px 0px;
  font-size: 15px;
  font-weight: 600;
  color: #4a90e2; /* Text color */
  border: 1px solid #4a90e2; /* Blue border */
  background-color: transparent; /* Transparent background */
  border-radius: 20px; /* Soft rounded corners */
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 125px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for button depth */
}

.back-button:hover {
  border-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.back-button i {
  margin-right: 5px;
}
